/* Each card */
.card {
  border: none;
  background: rgba(255, 255, 255, 0.15); 
  backdrop-filter: blur(10px); 
  border-radius: 15px;
  width: 280px;
  height: 180px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff; /* white text */
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.card:hover {
  transform: translateY(-10px) scale(1.05);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.show-img{
    height: 60vh !important;
    width: 60vh !important;
}
